#!/bin/bash

CLUSTER_PROTO="http"
CLUSTER_HOST="myhost
CLUSTER_PORT="9200"
#CLUSTER_USER="es_user"
#CLUSTER_PASS="es_pass"

DATA_DIR="data"
#CLUSTER_URI="${CLUSTER_PROTO}://$CLUSTER_USER:${CLUSTER_PASS@${CLUSTER_USER}:${CLUSTER_PASS}@${CLUSTER_HOST}"
CLUSTER_URI="${CLUSTER_PROTO}://${CLUSTER_USER}:${CLUSTER_PASS}@${CLUSTER_HOST}"

DATE_TODAY=$(date '+%Y.%m.%d')
DATE_PREVIOUS=$(date '+%Y.%m.%d' -d '-1 day')
DATES="${DATE_TODAY} ${DATE_PREVIOUS}"

INDICES="type_a type_b"
